.container {
  display: flex;
  align-items: center;
}
.avatar {
  margin-right: 4px;
}
.name {
  font-weight: 700;
  margin-right: 10px;
}
.button {
  width: 100px;
  height: 40px;
  font-size: 16px;
  font-weight: 700;
  opacity: 1;
  /* background-color: rgb(144, 92, 194); */
  color: rgb(62, 39, 83);
  border-radius: 20px;
}
.button:hover {
  opacity: 0.7;
}
